<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ToDo Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link rel="stylesheet" type="text/css" href="./buttons.css" />
  </head>
  <body class="{{theme}}">
  <div class="nav-bar">
      <h2>Notice Application</h2>
      <button class="theme-button">Switch Theme</button>
  </div>
{{{body}}}
  </body>
</html>
