/**
* Mixin to use to generate blocks for each theme
* Automatically takes @content
*/
/**
* Function to call within themeGen mixin, to get value from the current theme in the iterator
*/
body {
  margin: 0;
}
@media screen and (min-width: 770px) {
  body {
    margin: 0 10%;
  }
}

.theme-light {
  background-color: #fafaff;
}

.theme-dark {
  background-color: #40404f;
}

.background {
  margin: 0;
}

p {
  font-family: "Ubuntu", "Arial", "Helvetica";
  font-size: 0.85em;
}

ol {
  list-style-type: none;
  padding-inline-start: 0;
}

.theme-light a {
  font-family: "Ubuntu", "Arial", "Helvetica";
  color: #30303f;
}
.theme-dark a {
  font-family: "Ubuntu", "Arial", "Helvetica";
  color: #f0f3ff;
}

b {
  font-family: "Ubuntu", "Arial", "Helvetica";
}

.theme-light .nav-bar {
  background-color: #3f5ff0;
  position: relative;
  height: 60px;
  border-bottom: 10px solid #2f4f9f;
}
.theme-dark .nav-bar {
  background-color: #3f5ff0;
  position: relative;
  height: 60px;
  border-bottom: 10px solid #2f4f9f;
}

h2 {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-family: "Ubuntu", "Arial", "Helvetica";
  color: #f0f3ff;
}

.option-bar {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (max-width: 770px) {
  .option-bar {
    flex-direction: column;
  }
}

.theme-light .sort-button {
  font-family: "Ubuntu", "Arial", "Helvetica";
  padding: 10px 45px 10px 30px;
  color: #30303f;
  margin-top: 10px;
  margin-left: 1em;
  margin-right: 1em;
  background-color: #f0f3ff;
  background-image: url("/images/sort-up-and-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
  border-radius: 6px;
  border-color: #30303f;
  border-width: 1px;
}
.theme-dark .sort-button {
  font-family: "Ubuntu", "Arial", "Helvetica";
  padding: 10px 45px 10px 30px;
  color: #f0f3ff;
  margin-top: 10px;
  margin-left: 1em;
  margin-right: 1em;
  background-color: #30303f;
  background-image: url("/images/sort-up-and-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
  border-radius: 6px;
  border-color: #f0f3ff;
  border-width: 1px;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  width: 60px;
  height: 34px;
  right: 0;
  bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: -10px;
  left: -30px;
  right: 10px;
  bottom: 10px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.theme-light input:checked + .slider {
  background-color: #e0306f;
}
.theme-dark input:checked + .slider {
  background-color: #f5b4cd;
}

.theme-light input:focus + .slider {
  box-shadow: 0 0 1px #e0306f;
}
.theme-dark input:focus + .slider {
  box-shadow: 0 0 1px #f5b4cd;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-light .switch-holder {
  position: absolute;
  height: 60px;
  left: 10px;
  bottom: 10px;
  background-color: #f0f3ff;
  border-radius: 6px;
  padding: 10px;
  margin-left: 10%;
}
@media screen and (max-width: 770px) {
  .theme-light .switch-holder {
    margin-left: 0;
  }
}
.theme-dark .switch-holder {
  position: absolute;
  height: 60px;
  left: 10px;
  bottom: 10px;
  background-color: #30303f;
  border-radius: 6px;
  padding: 10px;
  margin-left: 10%;
}
@media screen and (max-width: 770px) {
  .theme-dark .switch-holder {
    margin-left: 0;
  }
}

.theme-light .task-container {
  margin: 12px;
  background-color: #f0f3ff;
  border-radius: 12px;
  border-color: #30303f;
}
.theme-dark .task-container {
  margin: 12px;
  background-color: #30303f;
  border-radius: 12px;
  border-color: #f0f3ff;
}

.text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.decoration-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.priority-holder {
  bottom: 10px;
  right: 10px;
  width: fit-content;
  margin: 10px;
}

.theme-light .due-date {
  font-family: "Ubuntu", "Arial", "Helvetica";
  font-size: 0.85em;
  bottom: 20px;
  right: 10px;
  margin: 10px;
  text-align: center;
  color: #30303f;
}
.theme-dark .due-date {
  font-family: "Ubuntu", "Arial", "Helvetica";
  font-size: 0.85em;
  bottom: 20px;
  right: 10px;
  margin: 10px;
  text-align: center;
  color: #f0f3ff;
}

.theme-light .task-title {
  margin: 1em;
  font-family: "Ubuntu", "Arial", "Helvetica";
  font-size: 1.2em;
  width: 4em;
  flex-grow: 1;
  align-self: center;
  color: #30303f;
}
.theme-dark .task-title {
  margin: 1em;
  font-family: "Ubuntu", "Arial", "Helvetica";
  font-size: 1.2em;
  width: 4em;
  flex-grow: 1;
  align-self: center;
  color: #f0f3ff;
}

.task-content {
  margin: 1em;
  min-height: 4em;
  flex-grow: 3;
  flex-basis: 30em;
  font-family: "Ubuntu", "Arial", "Helvetica";
  font-size: 0.85em;
}

.task-content-small {
  margin: 1em;
  flex-grow: 3;
  flex-basis: 30em;
  font-family: "Ubuntu", "Arial", "Helvetica";
  font-size: 0.85em;
}
.theme-light .task-content-small {
  border-radius: 6px;
  padding: 6px;
  background-color: #f0f3ff;
  color: #30303f;
}
.theme-dark .task-content-small {
  border-radius: 6px;
  padding: 6px;
  background-color: #30303f;
  color: #f0f3ff;
}

.theme-light textarea {
  border-radius: 6px;
  padding: 6px;
  background-color: #f0f3ff;
  color: #30303f;
}
.theme-dark textarea {
  border-radius: 6px;
  padding: 6px;
  background-color: #30303f;
  color: #f0f3ff;
}

.check-image {
  margin: 10px;
}

.theme-light .edit-button {
  font-family: "Ubuntu", "Arial", "Helvetica";
  font-size: 0.85em;
  background-color: #e0306f;
  color: #f0f3ff;
  border-color: transparent;
  border-radius: 6px;
  margin: 10px;
  padding: 8px 16px 8px 16px;
  vertical-align: bottom;
}
.theme-dark .edit-button {
  font-family: "Ubuntu", "Arial", "Helvetica";
  font-size: 0.85em;
  background-color: #f5b4cd;
  color: #30303f;
  border-color: transparent;
  border-radius: 6px;
  margin: 10px;
  padding: 8px 16px 8px 16px;
  vertical-align: bottom;
}

.end-block {
  flex-direction: row;
}

.theme-light .no-tasks {
  color: #30303f;
  background-color: #f0f3ff;
  text-align: center;
  width: available;
  padding: 2em;
  font-size: 1.25em;
  border-radius: 12px;
  border-color: #30303f;
}
.theme-dark .no-tasks {
  color: #f0f3ff;
  background-color: #30303f;
  text-align: center;
  width: available;
  padding: 2em;
  font-size: 1.25em;
  border-radius: 12px;
  border-color: #f0f3ff;
}

.radio-button {
  margin-right: 1em;
  width: 25px;
  height: 25px;
  border: 3px solid #808080;
  border-radius: 10px;
  transition: 0.25s;
}

/*# sourceMappingURL=style.css.map */
